<!DOCTYPE html>
<html lang="en">
<html>
<head>
       <meta charset="UTF-8">
		<title>添加项目</title>
		<style type="text/css">
			body {
				/*添加一张背景图片*/
				background-image: url(rl(bg.jpg);
	);
			}
			tr {
				height: 35px;
			}
			.in {
				width: 300px;
				height: 25px;
			}
			#formDiv {
				width: 500px;
				height: 570px;
				border: 5px solid #ccc;
				background-color: #fff;
				/*让div在浏览器里面居中
				 margin: 50px auto;  第一个值： 50px 优先于 上面  auto 
				 * */
				margin: 80px auto;
				padding: 30px 60px;
			}
		</style>
    </head>
<body> 
	<!-- 上传图片是需要指定属性 enctype="multipart/form-data" -->
	<!-- <form id="itemForm" action="" method="post" enctype="multipart/form-data"> -->
    <form action="/userInfo/add" method="post">
        序号：<input type="text" name="t_id"><br>
        姓名：<input type="text" name="t_name"><br>
        邮箱：<input type="text" name="t_email"><br>
        密码：<input type="password" name="t_pwd"><br>
        <input type="submit" value="增加"><br>
    </form>
</body>

</html>